<html>

<head>
    <title>Home Page</title>
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <% user.forEach((v) => { %>
    <%= v.username + ' es un ' + v.type_user + ' y tiene las sig. materias: '%>
    <% v.subject.forEach((s) => { %>
    <%= s.title %><br>
    <% }); %>
    <br><br>
    <% }); %>
</body>

</html>